<html>
<head>
  <link rel="stylesheet" href="static/bulma/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
        rel="stylesheet">
  <link rel="stylesheet" href="static/style/main.css">
</head>
<body>
  <div class="container">
  <div class="columns">
    <div class="column maincol">
    <div class="level">
          <span> <h1>No Readgrets</h1> <div class="subhead">
          A bookclub podcast unaffiliated with the New York Public Library. </div> <span>
    </div>
    <div class="level center">
      <img id="logo"
           src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fdesireemmondesir.files.wordpress.com%2F2012%2F06%2Funtitled2.jpg&f=1"
           width ="300px"
           height="300px">
      </img>
    </div>
        <div class="level">
          <span>Based loosley on the New York Public Library's
          <a href="https://www.nypl.org/voices/print-publications/books-of-the-century"
          target="_blank">Books of the Century</a></span>
        </div>


          <div class="level">
            <div id="next-up">
            <strong>Next up</strong></br>
            <a href="https://www.amazon.com/Herland-Thrift-Editions-Charlotte-Perkins/dp/0486404293" target="_blank">
            <strong>Herland</strong></a>,
            Charlotte Perkins Gilman</em></br>
            <strong>Drops on February 1</strong>
          </div>
      </div>
      <div class="level is-mobile">
          <a href="#">About</a>
          <a href="#">Episodes</a>
          <a href="#">Reading List</a>
        </div>
      </div>
      </div>
  </div>
</body>
